---
import { getCollection } from 'astro:content'
import Categorizer from '~/components/base/Categorizer.astro'
import FriendItem from '~/components/views/FriendItem.astro'
import { FEATURES, UI } from '~/config'

interface Props {
  pageToc: boolean
}

const { pageToc } = Astro.props

const entries = await getCollection('friends')

if (!entries.length) {
  throw new Error('Failed to load friends data')
}

const { friends } = entries[0].data

const { toc } = FEATURES
const tocEnabled = Array.isArray(toc) && toc[0] && pageToc

const { showGroupItemColorOnHover } = UI.groupView
---

{
  Object.keys(friends).map((key, idx) => (
    <div class="slide-enter" style={{ '--enter-stage': idx }}>
      <Categorizer text={key} needId={tocEnabled} wide={true} />
      <FriendItem items={friends[key]} />
    </div>
  ))
}
