---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common'
import { SITE } from '~/config'

const title = `${SITE.author} @ ${new URL(SITE.website).hostname}`
---

<Link
  class="link op-transition"
  href={getUrl('/')}
  {title}
  aria-current={Astro.url.pathname === `${getUrl('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="2em"
      height="2em"
      aria-hidden="true"
    >
      <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path>
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg> -->

    <!-- TEXT SVG (Great Vibes) -->
    <svg class="lt-sm:mt-0.3" viewBox="0 0 500 240" xml:space="preserve">
      <g
        id="svgGroup"
        class="draw dark:fill-[#fdfdfd] dark:stroke-[#fdfdfd]"
        fill="#17191e"
        fill-rule="evenodd"
        stroke="#17191e"
        stroke-width="0.1"
        stroke-linecap="round"
        font-size="40pt"
      >
        <path
          vector-effect="non-scaling-stroke"
          d="
M126.464645,241.000000
	C123.975342,235.201996 121.533897,229.510300 120.021912,223.581558
	C117.643753,214.256378 119.652870,205.554718 124.809128,197.392258
	C132.601822,185.056290 140.127716,172.551804 147.833267,160.011063
	C145.250778,158.651962 143.030685,159.409561 140.976517,160.430359
	C132.978210,164.405045 124.216606,164.378159 115.656837,165.363907
	C112.781708,165.694992 109.846863,165.507172 108.373489,162.336105
	C106.956100,159.285522 107.641121,156.365616 109.683334,153.925156
	C114.493385,148.177124 119.362038,142.470886 124.394707,136.917862
	C135.923477,124.197105 147.933167,111.949074 160.679565,100.429749
	C162.323730,98.943863 164.422241,97.622467 164.992966,94.475830
	C157.783035,95.250092 151.128204,96.790031 145.129272,100.435280
	C140.235718,103.408836 135.072266,105.523544 129.508560,106.865746
	C117.647484,109.727135 106.695740,115.251175 95.552963,119.873138
	C77.285080,127.450554 58.531204,131.612534 39.042740,133.256119
	C32.630802,133.796875 26.153505,135.539902 19.753166,133.025269
	C18.004416,132.338196 16.084240,131.667206 16.448231,129.322830
	C16.782766,127.168198 18.776169,127.034103 20.395838,127.145706
	C32.381413,127.971626 43.881992,124.880737 55.251350,122.090515
	C72.062866,117.964691 88.170357,111.548882 103.807426,104.056557
	C126.390587,93.236099 150.178604,85.616615 173.893921,77.834511
	C183.051178,74.829582 192.229294,71.802414 201.787003,70.179977
	C206.877335,69.315887 209.831635,71.255608 210.777267,76.187241
	C211.262115,78.715874 210.527267,80.465393 208.070938,81.313332
	C187.089035,88.556351 171.380981,103.561226 154.620590,117.151352
	C142.354095,127.097603 132.716324,139.415436 121.995636,150.762619
	C121.325027,151.472397 120.496231,152.112305 120.512245,153.606705
	C122.377449,154.718170 124.187569,153.569656 125.953186,153.054916
	C134.578400,150.540222 143.182327,147.952728 151.798462,145.406815
	C154.247894,144.683029 156.715836,144.642136 159.202225,145.284683
	C163.595779,146.420105 165.622879,149.546494 164.320786,153.892593
	C162.873703,158.722656 160.629944,163.271362 156.898880,166.741470
	C146.924347,176.018402 139.846344,187.469894 133.134628,199.050186
	C129.302887,205.661453 130.947449,213.111481 132.931076,219.968826
	C135.216141,220.507980 135.935318,219.258865 136.615128,218.152527
	C148.918655,198.129578 163.243073,179.518311 176.855988,160.408722
	C182.307053,152.756592 189.110275,146.367859 195.554810,139.635620
	C196.486450,138.662415 197.584183,137.889496 198.996780,137.778061
	C200.020157,137.697342 201.055481,137.771057 201.642349,138.756454
	C202.264755,139.801559 201.742340,140.673950 200.959717,141.389938
	C190.027725,151.391129 183.204834,164.694550 173.467896,175.680389
	C170.784378,178.708115 169.264069,182.818909 167.435501,186.543427
	C158.582520,204.575806 146.643341,221.042740 140.085510,240.640472
	C135.643097,241.000000 131.286194,241.000000 126.464645,241.000000
z"
        ></path>
        <path
          vector-effect="non-scaling-stroke"
          d="
M370.257385,98.591354
	C374.660095,104.768234 373.963470,109.632904 368.219543,113.892128
	C357.473511,121.860558 346.054108,128.108459 332.058441,127.424988
	C329.334686,127.291977 328.009247,128.507629 328.178864,131.293228
	C329.313599,149.931503 325.065063,168.012512 322.616760,186.291260
	C321.817719,192.256866 320.859100,198.123779 319.095795,203.865662
	C318.080292,207.172546 316.220673,208.983856 312.445343,209.529327
	C298.933472,211.481552 285.489746,209.829483 272.065918,209.010834
	C260.170441,208.285370 248.493591,209.712387 236.757706,210.887833
	C233.968384,211.167206 231.203949,211.738388 228.023254,210.961243
	C229.649063,206.787323 233.825409,206.790085 237.052460,204.980759
	C234.251633,197.657501 231.480835,190.412796 228.527924,182.691895
	C225.030853,185.664139 221.213715,186.982010 217.039078,187.207703
	C214.886139,187.324097 212.503983,187.680206 211.266998,185.308929
	C210.036743,182.950592 210.935822,180.780380 212.440659,178.823990
	C214.980209,175.522461 217.422989,172.137680 220.114777,168.964615
	C222.649902,165.976242 223.212006,163.000381 221.662338,159.297684
	C220.387070,156.250610 219.734070,152.939514 218.851486,149.732727
	C217.994965,146.620667 217.117935,143.790237 213.260559,142.874481
	C210.441391,142.205215 210.458267,139.921844 211.855484,137.717209
	C213.415207,135.256119 215.658508,133.567337 218.233002,132.262726
	C223.132004,129.780228 227.959854,127.149078 232.925446,124.809280
	C235.976334,123.371681 237.279449,121.189812 236.525604,118.013702
	C235.760529,114.790291 235.195084,111.560745 235.454102,106.888496
	C223.935272,117.755669 211.883942,126.100677 202.221176,137.349213
	C200.788971,133.451584 202.675583,131.272232 204.362930,129.128647
	C207.757980,124.815605 211.853348,120.931999 215.984818,117.601097
	C221.661392,113.024490 226.152084,107.025101 232.767487,103.553955
	C236.225418,101.739571 234.904068,98.235764 234.695312,95.424072
	C233.847229,84.000854 234.165359,83.457474 245.702911,81.731621
	C250.797501,80.969536 255.920914,80.397461 261.034973,79.769539
	C262.898438,79.540741 264.686920,79.890862 266.379517,80.706070
	C267.848877,81.413765 268.748779,82.588966 268.840820,84.203690
	C268.938965,85.924660 267.897217,87.081367 266.386841,87.596252
	C261.526245,89.253204 256.732666,91.480202 251.406631,90.710732
	C248.148392,90.239990 247.044388,91.300331 247.782730,94.526222
	C249.055023,100.084938 247.737473,105.819550 248.945389,111.438385
	C249.546265,114.233406 250.538666,116.109169 253.414856,116.607910
	C256.535828,117.149094 257.240692,119.221527 257.326904,122.040771
	C257.487000,127.276917 257.022644,132.335083 254.605637,137.103516
	C253.552216,139.181763 252.708588,141.384491 253.766312,143.823364
	C255.828720,144.445251 256.741333,142.680649 257.969452,141.760620
	C266.467529,135.394455 273.234955,126.868767 282.873688,121.888451
	C284.088837,121.260590 284.705536,119.554474 285.750702,118.497345
	C287.058136,117.174896 288.660858,116.910851 290.306549,117.908089
	C291.925171,118.888931 292.880096,120.619003 291.969147,122.155113
	C288.277618,128.380280 293.575470,132.677216 294.483124,138.410812
	C302.582306,134.034302 307.396484,127.115921 313.387299,121.556015
	C314.837524,120.210121 314.831604,117.970673 314.218079,115.876884
	C310.901672,104.559181 310.826355,92.933716 310.537964,81.251274
	C310.201721,67.631157 310.367157,53.973686 308.922424,40.388737
	C308.567627,37.052532 309.928467,34.331047 313.059875,33.139988
	C316.273193,31.917784 319.421234,32.397480 321.296143,35.744392
	C322.591187,38.056252 324.160156,40.431606 324.617645,42.957714
	C326.475098,53.213661 327.963806,63.529987 327.606323,74.021774
	C327.300659,82.992584 326.904694,91.973022 327.056702,100.940598
	C327.119263,104.630646 324.938965,108.443253 327.182983,112.023468
	C329.287811,112.830803 330.448303,111.303001 331.876862,110.612328
	C342.187714,105.627289 352.012634,99.531868 363.416718,97.055984
	C365.875671,96.522141 368.022858,96.618538 370.257385,98.591354
M309.945923,176.715134
	C313.232666,163.435837 314.337219,149.913162 314.489105,136.280304
	C314.504974,134.858337 314.327881,133.569931 312.941223,132.884720
	C311.667175,132.255142 310.669922,133.062912 309.822998,133.850189
	C308.484314,135.094482 307.097076,136.335617 306.002625,137.783844
	C303.297699,141.363052 300.906525,145.187927 298.088226,148.670441
	C295.466949,151.909531 291.811310,153.018036 287.740997,152.041794
	C283.776855,151.091034 282.488434,147.948944 281.600891,144.339951
	C280.787506,141.032455 280.423462,137.481308 278.175232,134.728607
	C275.890289,134.783737 274.686920,136.269684 273.371399,137.479172
	C268.465454,141.989685 263.987335,146.916397 259.384918,151.728790
	C255.014145,156.298965 253.548767,161.606491 253.276459,167.579147
	C252.806946,177.877869 253.957489,188.214371 252.452286,198.494873
	C252.026306,201.404282 253.151260,202.875061 256.507538,202.157944
	C260.398560,201.326553 264.340973,200.775452 268.359406,200.597443
	C278.494293,200.148499 288.625092,199.533905 298.741882,198.776550
	C305.346283,198.282150 306.568939,196.933960 307.644501,190.329910
	C308.338837,186.066666 309.053741,181.806763 309.945923,176.715134
M231.178696,138.747849
	C223.122574,142.953354 223.112213,144.522232 231.329346,151.342377
	C234.372574,148.274673 236.676682,144.750198 238.130905,140.653412
	C238.591751,139.355148 238.941498,138.030823 237.750046,136.964340
	C236.694046,136.019073 235.569855,136.578995 234.506104,137.084335
	C233.606308,137.511810 232.714783,137.956696 231.178696,138.747849
M339.725311,117.567612
	C343.844696,116.652962 348.071350,115.989464 351.165161,112.667183
	C347.299530,114.573380 342.539795,114.283928 339.725311,117.567612
z"
        ></path>
        <path
          vector-effect="non-scaling-stroke"
          d="
M149.657898,44.649796
	C153.246994,40.045406 156.511154,35.630074 159.954391,31.359123
	C163.195999,27.338284 162.990402,22.709482 162.612671,18.043056
	C162.393372,15.333835 160.314117,14.621078 158.021622,14.371112
	C156.641266,14.220601 155.136826,14.043879 155.133865,12.317740
	C155.130493,10.361414 156.854111,9.966885 158.336105,9.896417
	C163.706680,9.641049 169.387802,9.390104 173.001495,14.180627
	C176.821472,19.244596 176.499832,25.216061 174.114777,30.795895
	C171.468628,36.986557 167.216354,42.137253 162.101639,46.538612
	C161.723633,46.863895 161.300552,47.140121 160.942886,47.485233
	C143.453873,64.360054 121.375435,73.674789 100.108040,84.294342
	C95.937004,86.377098 91.771721,88.725273 86.844269,89.943077
	C85.956131,86.224800 88.185989,85.004646 90.209801,84.225273
	C103.561058,79.083694 114.989891,70.632652 126.702232,62.781570
	C134.681549,57.432827 141.869415,50.903400 149.657898,44.649796
z"
        ></path>
        <path
          vector-effect="non-scaling-stroke"
          d="
M351.585785,184.375198
	C348.321289,180.530273 345.673676,176.741928 344.502319,172.098938
	C344.171448,170.787521 343.671814,169.435837 344.933197,168.416855
	C346.295898,167.315994 347.570953,168.189728 348.455139,169.138718
	C356.203400,177.455017 367.430359,180.420380 376.162628,187.253311
	C377.990051,187.098511 378.972168,184.841507 380.993408,185.194092
	C381.295349,185.435364 381.783234,185.666107 381.761963,185.831116
	C380.858856,192.827591 380.261597,199.890747 378.837830,206.782745
	C377.961548,211.024765 370.604950,211.959976 367.100830,208.487473
	C365.841309,207.239304 364.508606,205.588272 364.201324,203.936554
	C362.681458,195.766327 357.807312,189.877701 351.585785,184.375198
z"
        ></path>
        <path
          vector-effect="non-scaling-stroke"
          d="
M96.493637,30.639534
	C102.733665,44.011929 109.487549,53.668255 114.833931,56.502129
	C118.484535,49.313393 120.907684,41.054386 128.540268,36.485298
	C130.402222,38.908703 129.060516,40.077065 128.238617,41.184711
	C124.384895,46.378117 122.143005,52.154831 121.227325,58.559780
	C120.607292,62.896690 118.124298,65.776299 113.592545,66.658577
	C109.139084,67.525589 105.058044,66.792206 102.494713,62.915173
	C94.831673,51.324780 89.076561,38.954060 88.055771,24.339069
	C92.819633,23.968035 94.281021,27.556992 96.493637,30.639534
z"
        ></path>
      </g>
    </svg>
  </div>
</Link>

<style>
  .link {
    /* opacity: 1; */
    -webkit-user-select: none;
    user-select: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 350px 0;
    }
    20% {
      stroke-dasharray: 0 350px;
    }
    80% {
      stroke-dasharray: 0 350px;
    }
    to {
      stroke-dasharray: 350px 0;
    }
  }

  .draw {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 10s ease forwards infinite;
  }

  @media (prefers-reduced-motion), print {
    .draw {
      stroke-dasharray: unset !important;
      animation: none !important;
    }
  }
</style>
