---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common'
import { SITE } from '~/config'

const title = `${SITE.author} @ ${new URL(SITE.website).hostname}`
---

<Link
  class="link op-transition"
  href={getUrl('/')}
  {title}
  aria-current={Astro.url.pathname === `${getUrl('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="2em"
      height="2em"
      aria-hidden="true"
    >
      <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path>
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg> -->

    <!-- TEXT SVG (Great Vibes) -->
    <svg class="lt-sm:mt-0.3" viewBox="0 0 912 288" xml:space="preserve">
      <g
        id="svgGroup"
        class="draw dark:fill-[#fdfdfd] dark:stroke-[#fdfdfd]"
        fill="#17191e"
        fill-rule="evenodd"
        stroke="#17191e"
        stroke-width="0.4"
        stroke-linecap="round"
        font-size="9pt"
      >
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M220.467941,289.000000
	C219.055771,280.719788 213.746109,273.864410 213.572983,264.971466
	C213.392502,255.700073 215.616501,247.298828 220.740387,240.725357
	C224.548752,235.839615 226.201416,230.269135 229.488113,225.462036
	C233.017990,220.299271 236.936371,215.483597 239.775864,209.790527
	C242.306686,204.716339 245.994308,200.219116 249.444199,195.059311
	C245.077057,193.638214 240.899445,194.407639 238.277679,195.926788
	C229.406815,201.066864 219.507477,200.018387 210.141815,201.957596
	C206.570816,202.696991 202.915314,202.702103 200.871826,199.150055
	C198.371323,194.803589 200.752380,191.069672 203.538086,187.884033
	C211.770981,178.469070 219.889389,168.927612 228.584549,159.950912
	C236.732483,151.539169 244.546463,142.785187 253.348572,134.996613
	C260.524811,128.646667 267.273865,121.832298 273.778717,114.594955
	C272.955475,114.094711 272.528198,113.732117 272.444641,113.799004
	C267.176941,118.015167 260.565186,118.184540 254.451874,119.878815
	C250.130829,121.076378 246.064316,122.826103 242.199188,125.277641
	C237.042694,128.548248 231.499329,130.852600 225.306808,132.109192
	C213.928375,134.418137 204.031052,140.861984 193.262955,144.963196
	C183.061874,148.848419 172.498337,152.112274 162.765823,156.803558
	C152.754791,161.629120 142.231644,165.032852 132.195526,169.702774
	C126.047287,172.563599 119.066833,173.701050 112.396019,175.353699
	C106.760437,176.749878 101.673866,179.533051 96.105324,181.188766
	C85.491234,184.344681 74.947815,186.663086 63.806641,187.768982
	C51.507751,188.989822 39.288525,189.082428 27.015182,189.405075
	C23.203966,189.505264 19.831940,188.212448 16.397026,187.036209
	C14.287367,186.313782 13.040495,184.868942 14.440948,182.082794
	C18.632513,181.657776 22.757614,183.415268 27.285572,182.914062
	C46.693317,180.765900 66.209541,180.004028 84.806740,172.769928
	C94.941971,168.827454 106.352531,167.791367 115.981377,163.013138
	C128.128311,156.985321 141.263901,153.955215 153.428619,148.223083
	C166.105988,142.249405 178.974457,136.658173 191.913940,131.270966
	C202.545776,126.844513 213.113297,121.933594 223.864334,118.225372
	C236.180771,113.977219 248.384628,109.276146 260.617126,104.838036
	C270.338379,101.311028 280.376068,98.865471 290.136658,95.571053
	C297.606445,93.049828 305.663422,91.274254 313.584625,89.784882
	C317.472229,89.053917 320.507629,92.410698 321.241119,97.148239
	C321.906311,101.444771 319.012421,101.972229 315.895966,102.649254
	C309.226135,104.098236 303.159332,106.631035 298.178619,111.677811
	C296.446381,113.433014 293.786011,114.542816 291.549500,115.900047
	C279.240387,123.369797 268.154755,132.445206 257.536407,142.194031
	C252.693375,146.640457 247.700485,151.016632 242.542557,155.120941
	C239.642639,157.428467 236.793884,159.819473 234.746902,162.756592
	C229.068558,170.904175 221.907867,177.679703 215.198425,184.876312
	C213.488556,186.710327 211.549728,188.337814 212.758286,191.545181
	C224.947540,187.764587 237.087784,184.030624 249.204971,180.223312
	C253.255295,178.950653 257.304047,179.004272 261.435974,179.639816
	C264.721497,180.145187 267.463043,184.932358 266.255127,188.045120
	C263.236969,195.822952 260.122986,203.233704 251.918747,207.509857
	C249.354080,208.846588 248.666656,213.436081 246.595337,216.133820
	C240.408142,224.192139 234.116486,232.150543 229.116776,241.048111
	C227.274750,244.326218 225.795761,247.632141 226.368652,251.441742
	C227.285400,257.537872 226.085052,263.944641 229.177750,270.003723
	C234.177673,269.329681 234.778793,264.284210 237.026962,261.277802
	C246.120300,249.117584 253.751221,235.941040 262.714417,223.637039
	C267.070923,217.656784 271.732635,212.015549 276.559753,206.488983
	C278.272827,204.527695 279.022186,202.206635 280.317993,200.119888
	C286.837708,189.620453 296.072662,181.525833 304.309998,172.550995
	C305.936981,170.778351 308.014069,169.903320 310.456787,170.195923
	C311.974915,172.938553 309.494873,173.520584 308.302795,174.525711
	C305.116669,177.212173 302.105133,179.911926 301.072998,184.235092
	C300.826782,185.266464 299.952698,186.547775 299.031708,186.955032
	C291.611694,190.236221 289.910736,198.031631 285.697144,203.793488
	C283.742004,206.467056 282.255310,209.341553 279.471069,211.417953
	C277.090698,213.193115 275.417450,215.713211 274.330414,218.610489
	C273.521606,220.766190 272.491150,222.899521 271.207275,224.805618
	C265.926178,232.646301 262.188324,241.297867 258.194702,249.784744
	C256.022339,254.401215 252.058121,257.537842 249.779510,262.090454
	C245.491547,270.657806 242.290924,279.684601 238.017670,288.622986
	C232.311966,289.000000 226.623917,289.000000 220.467941,289.000000
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M324.608856,151.532379
	C326.551575,145.505859 332.703400,143.706589 336.752808,139.832977
	C340.732880,136.025696 344.035309,131.058594 349.879730,129.374710
	C351.454742,128.920944 351.524963,127.071617 351.636627,125.525764
	C351.940491,121.318893 351.071808,117.226845 350.063324,113.237480
	C348.951324,108.838486 351.211243,106.859360 354.721466,105.885582
	C361.586456,103.981163 368.639465,102.995056 375.755920,102.679924
	C378.907959,102.540359 381.934845,100.955261 385.120667,101.775719
	C387.295746,102.335892 389.825226,102.538612 390.279480,105.620361
	C390.720703,108.613426 388.664917,109.161087 386.558350,109.864052
	C380.452057,111.901695 374.409454,114.241875 367.757233,112.617180
	C366.987457,112.429169 366.104645,112.538826 365.308502,112.690407
	C364.880920,112.771828 364.526245,113.236229 364.200165,113.481552
	C366.017059,120.959946 365.561127,128.549225 366.193878,136.021713
	C366.856903,143.851593 366.353149,143.984650 373.894196,145.714325
	C376.176788,146.237869 376.236786,147.681854 376.308075,149.389236
	C376.579590,155.894135 376.585327,162.310059 373.378662,168.330933
	C371.655640,171.566116 370.571533,175.087997 371.813660,178.903595
	C374.033173,179.693924 375.383728,177.991074 376.614655,176.953629
	C384.849304,170.013428 392.973785,162.940475 401.041443,155.805923
	C402.579193,154.446030 404.104431,153.134094 406.107819,152.835693
	C408.143524,152.532486 409.029388,151.591476 410.033752,149.737930
	C411.110626,147.750580 412.761841,144.528351 416.072113,146.642456
	C418.822968,148.399292 418.954376,150.760376 416.528687,153.262238
	C415.135101,154.699600 415.408020,156.489182 416.063080,158.399475
	C417.292542,161.984970 419.215393,165.260605 419.916504,169.127853
	C420.475220,172.209549 422.475464,173.299591 424.894958,169.854965
	C427.389191,166.303986 432.269928,165.439087 434.635986,161.552902
	C436.671448,158.209747 439.424408,155.737762 442.820312,153.473785
	C446.550751,150.986771 446.374939,145.969513 445.282257,141.960297
	C443.277191,134.603119 442.173553,127.141472 441.732452,119.598625
	C441.131561,109.322639 441.314972,99.004486 441.036346,88.719582
	C440.796600,79.869293 440.221741,70.937180 440.665009,62.039917
	C440.781738,59.696823 440.483185,57.446541 439.637512,55.193745
	C438.306793,51.648857 440.353455,47.008812 443.819519,45.801315
	C447.557465,44.499081 450.460541,44.838634 452.920685,48.972775
	C457.284027,56.305141 459.335205,63.785866 458.141541,72.307320
	C457.824768,74.568703 458.901520,77.144356 459.509186,79.426132
	C461.698303,87.646355 459.476532,95.721581 459.629303,103.823799
	C459.781067,111.874054 458.475220,119.849892 459.178894,127.911697
	C459.530365,131.938416 457.317932,136.060287 459.243256,140.147781
	C459.513092,140.720642 459.816223,141.277817 460.401245,142.425491
	C469.970306,134.554276 481.722504,131.450348 492.036591,125.552521
	C496.297607,123.115974 501.228058,123.448219 505.622498,121.427834
	C508.340668,120.178146 514.058228,125.927765 514.352844,129.199814
	C515.016846,136.573044 510.122040,140.058563 504.766357,143.271729
	C498.292419,147.155792 492.555695,152.413483 484.865173,154.036301
	C478.122772,155.459076 471.511383,157.736938 464.427246,156.835510
	C459.705048,156.234619 460.056519,160.448624 460.501312,162.546799
	C463.137787,174.984268 459.126862,186.892487 458.376923,199.042068
	C457.765015,208.955063 454.746185,218.393433 454.066345,228.301025
	C453.541077,235.956497 451.550507,243.626923 448.895081,250.971100
	C448.227203,252.818298 446.854462,253.972336 444.845734,254.227676
	C427.366119,256.449738 409.965698,254.728195 392.513458,253.545074
	C381.968048,252.830185 371.367493,254.127213 360.824249,255.043655
	C354.995667,255.550278 349.197266,256.404633 342.271759,257.235870
	C346.128387,252.315887 350.516846,251.503036 355.526123,251.189880
	C349.921295,241.515640 346.924469,231.253677 342.825928,219.488541
	C339.752991,228.005310 333.133575,227.176025 327.183685,227.977814
	C323.525757,228.470734 321.569916,226.305496 322.573914,222.666611
	C322.871429,221.588348 323.447327,220.519730 324.130646,219.626419
	C327.546783,215.160522 331.029541,210.745270 334.511932,206.330414
	C336.890594,203.314804 338.083160,200.517349 336.057526,196.430069
	C333.430786,191.129868 333.267426,184.918320 330.820465,179.400314
	C329.770538,177.032700 329.118195,175.329742 326.155121,175.306671
	C321.742950,175.272339 322.101990,172.865891 323.932861,170.053207
	C325.798096,167.187744 328.449677,165.188431 331.530090,163.859039
	C337.614014,161.233475 342.895691,157.086685 349.253021,154.917938
	C352.658997,153.755997 354.441742,150.872528 353.617828,147.007416
	C352.601746,142.240692 350.401886,137.601868 353.388580,132.354401
	C349.372437,132.826050 347.385925,134.178970 345.698486,136.489426
	C340.606354,143.461639 333.570007,148.118454 325.593323,152.108948
	C324.895691,151.820969 324.752289,151.676682 324.608856,151.532379
M371.349182,229.476746
	C371.057251,233.603302 371.696350,237.738464 370.716614,241.881577
	C369.591675,246.638580 371.499146,248.217957 376.497498,247.169937
	C388.035828,244.750656 399.781067,244.953735 411.461334,244.171524
	C418.667664,243.688919 426.063049,244.427658 433.130798,241.968887
	C435.241638,241.234543 436.205200,240.427017 436.794220,238.068802
	C438.405273,231.618362 438.806580,224.983383 440.207306,218.535278
	C443.592529,202.951477 446.460022,187.327621 445.593750,171.287415
	C445.433868,168.326675 447.377045,163.750656 444.043579,162.764145
	C440.233551,161.636612 437.614655,165.941818 434.884888,168.500244
	C434.657745,168.713104 434.639526,169.142517 434.419678,169.370438
	C430.034607,173.916016 428.189575,180.440643 422.978455,184.293625
	C420.214417,186.337280 416.848236,186.939941 413.549194,186.048355
	C410.572205,185.243835 408.319214,183.448135 407.617981,180.029846
	C406.897156,176.516281 405.848328,173.060257 404.780640,169.629593
	C402.447174,162.131653 402.940277,162.789383 397.091278,167.645187
	C390.314758,173.270996 384.416992,179.547958 378.866760,186.268066
	C378.762115,186.394806 378.624908,186.496857 378.494385,186.599670
	C374.598267,189.668228 373.189728,193.981262 372.317566,198.630859
	C370.458893,208.539352 371.733917,218.536011 371.349182,229.476746
M352.776337,179.209030
	C354.125977,176.563522 355.738647,174.035553 355.728027,170.879852
	C355.713470,166.554443 354.587524,165.865875 350.702087,167.656433
	C346.254456,169.706024 342.203918,172.611725 337.586426,173.769196
	C336.445648,180.737457 343.934937,182.917603 345.226471,189.005707
	C349.100922,186.608994 349.650085,182.323807 352.776337,179.209030
M490.270538,140.759521
	C492.716309,138.981979 495.162079,137.204422 497.607880,135.426880
	C487.444244,138.931747 477.555176,142.924820 466.517151,146.184860
	C475.443542,147.194077 483.193512,146.949036 490.270538,140.759521
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M728.667480,142.024628
	C721.845276,143.450699 717.066101,147.710205 712.314514,151.744354
	C710.014709,153.696884 708.269104,155.888947 704.877686,155.653748
	C703.934570,155.588333 703.174194,156.579956 703.253723,158.849289
	C710.716553,156.502808 718.426025,160.308258 725.824585,156.784256
	C726.711792,156.361649 727.656372,155.796890 728.588318,155.769165
	C746.829224,155.226318 762.983765,147.172211 779.800720,141.541000
	C782.818970,140.530365 785.709351,139.465424 788.972534,139.593613
	C792.000854,139.712570 794.952515,138.861252 797.645813,137.590958
	C811.257690,131.170929 825.877197,128.184662 840.326111,124.481606
	C847.965759,122.523666 855.690063,119.974869 861.938721,114.798988
	C866.893250,110.695145 872.640747,112.944176 877.983948,112.138603
	C879.150513,111.962723 881.155945,113.158234 881.032104,114.915855
	C880.730469,119.197281 883.767395,122.408653 884.304138,126.487267
	C884.905762,131.058868 883.941345,133.625473 879.252563,134.233887
	C874.801453,134.811462 870.345764,136.971420 865.710876,134.541183
	C864.710632,134.016693 862.843689,134.177505 861.835754,134.785217
	C851.968750,140.734207 840.460327,141.113449 829.825073,144.416000
	C829.041992,144.659164 827.928528,144.679565 827.538940,145.216919
	C824.160400,149.876877 818.250977,147.944977 814.174866,150.436172
	C808.575012,153.858627 803.192078,156.889160 796.131714,155.041000
	C794.791687,154.690231 791.861206,156.203125 791.122864,159.099197
	C790.469116,161.663391 787.526001,161.470993 785.470337,162.556854
	C786.421143,162.633377 787.373657,162.693970 788.322327,162.791046
	C789.215149,162.882401 789.924133,163.226166 790.014160,164.254303
	C790.097229,165.203293 789.693726,165.989471 788.777283,166.129471
	C784.752869,166.744324 782.949463,169.498581 780.936707,172.768524
	C778.838013,176.178009 773.917236,177.806183 771.784302,180.382690
	C768.654907,184.162842 762.939453,186.385101 762.551392,192.651718
	C762.234802,197.764328 758.166504,201.535919 755.046265,205.031891
	C751.403992,209.112793 750.844177,213.175385 751.744141,217.864548
	C752.231201,220.402481 752.686523,222.459167 749.598389,223.493576
	C749.046509,223.678436 748.193665,224.658966 748.270264,224.782593
	C751.921204,230.677933 743.331848,230.289810 743.347961,234.499924
	C743.364624,238.847031 741.962097,242.924026 739.819214,246.804382
	C738.663574,248.897217 737.844666,251.794586 735.165894,250.998032
	C732.407593,250.177826 729.142151,249.657593 727.577148,246.199829
	C724.699280,239.841629 725.039062,233.091614 726.262756,226.828918
	C728.371216,216.037567 732.982117,206.425751 739.760376,197.176041
	C746.641479,187.786041 755.096008,180.482971 763.213562,172.600677
	C764.342285,171.504669 765.996704,170.950027 767.495911,170.094437
	C765.008057,167.086166 763.158630,170.588501 760.542419,170.613571
	C756.476868,165.032211 751.448975,165.869949 745.477661,168.553650
	C739.102844,171.418686 731.962219,171.571411 724.995667,171.782761
	C717.049683,172.023849 709.086792,171.958389 701.159485,172.466095
	C696.771423,172.747101 693.088013,171.161316 689.345886,169.496140
	C686.607727,168.277664 682.184448,158.704788 682.751526,155.828323
	C683.250000,153.299393 685.176453,152.836258 687.217773,152.733688
	C689.876953,152.600098 692.511414,151.909531 695.070557,151.783127
	C699.657104,151.556641 701.888733,147.858231 705.270813,145.975616
	C709.716248,143.500992 714.291626,141.760483 719.179443,140.736588
	C721.072815,140.339966 723.002991,139.542496 724.002625,138.316193
	C728.116333,133.269592 734.278076,133.861237 739.918213,132.408203
	C738.449524,137.924347 732.894775,138.992569 728.667480,142.024628
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M610.689087,85.305023
	C615.114868,83.546753 618.568237,85.795868 622.064148,87.074806
	C624.252930,87.875511 623.686707,90.668800 623.898254,92.409637
	C624.549622,97.768738 626.814209,101.714622 631.713440,104.076431
	C632.455078,104.433975 633.516479,104.680214 633.831604,105.288101
	C638.761658,114.798012 649.216797,114.289162 657.198730,118.229729
	C657.877502,118.564796 658.827942,118.486969 659.632690,118.406288
	C664.075134,117.960953 670.130920,121.761856 671.153748,125.896393
	C671.881531,128.838074 670.775269,131.172379 667.969238,132.458603
	C665.105896,133.771149 662.281311,135.404343 659.256897,136.086838
	C648.375916,138.542236 638.502258,143.617126 628.266602,147.712860
	C623.271057,149.711807 624.153503,155.100677 623.886292,159.141205
	C623.291931,168.128189 623.140747,177.178253 623.437012,186.181931
	C623.813538,197.624222 622.265564,208.971954 622.373535,220.381470
	C622.390747,222.195633 621.528259,224.532394 624.252991,225.411591
	C628.109619,223.495193 624.626099,219.669693 626.127869,217.184418
	C628.795532,216.877106 630.188232,219.273621 633.438293,218.639938
	C628.084778,227.094040 628.978699,236.486938 624.759399,244.330109
	C623.660950,246.372009 622.837952,249.206772 619.870911,248.120636
	C616.767517,246.984589 611.906067,249.098709 611.104065,243.086197
	C610.488281,238.470413 610.078064,233.714905 610.079041,229.237534
	C610.081177,219.148102 607.311035,209.123688 609.442688,198.974670
	C609.964844,196.488861 609.421082,193.740845 609.153137,191.135406
	C608.594971,185.708038 607.929932,180.274033 608.679077,174.835571
	C609.512634,168.784042 606.957092,163.158035 606.674622,156.981705
	C603.907776,156.675659 601.608276,158.410339 599.469055,159.574493
	C587.049377,166.333099 573.465088,170.207993 560.244385,174.666763
	C551.877319,177.488647 542.637268,179.259872 533.366211,178.389084
	C528.608887,177.942230 522.499084,169.588562 523.845703,165.014755
	C524.617371,162.393814 526.767456,162.420197 528.716858,162.806747
	C541.828308,165.406509 554.018677,162.255890 565.911987,157.078644
	C570.843811,154.931808 576.304871,155.473618 581.419617,153.793518
	C589.376709,151.179764 596.663147,147.221054 604.151489,143.682907
	C609.087891,141.350510 609.275757,136.071854 609.515503,131.556534
	C610.050110,121.485695 609.265747,111.364479 610.613037,101.305832
	C611.072510,97.875481 609.220581,94.859886 608.317505,91.690651
	C607.574097,89.081688 607.071228,86.744362 610.689087,85.305023
M641.277771,130.770432
	C643.327087,127.925591 643.397949,124.441376 640.836304,122.655022
	C636.283325,119.480042 632.822876,114.696060 626.932373,112.650795
	C626.377747,115.692863 625.724182,118.392433 625.436035,121.130470
	C625.193970,123.429932 625.388550,125.774300 625.369690,128.098618
	C625.351135,130.386368 626.455078,131.883148 628.595215,132.566452
	C632.821777,133.915955 637.016541,134.734436 641.277771,130.770432
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M844.202271,194.813049
	C841.256531,184.824081 834.982178,177.856583 826.490723,172.718842
	C832.248169,166.896179 836.310242,166.939590 841.917725,172.253235
	C842.493713,172.799072 843.374878,173.531204 844.001526,173.435730
	C849.682861,172.570206 851.351196,176.772263 853.353516,180.609894
	C854.658875,183.111877 855.988525,185.502808 858.284851,187.404892
	C859.418640,188.344070 861.729004,190.308578 858.897339,192.163452
	C857.387939,193.152130 858.679382,193.826752 859.021851,194.481171
	C862.707031,201.524292 862.901184,209.394775 864.583679,216.926392
	C865.003967,218.809250 868.033752,216.516953 868.144836,219.127823
	C868.248657,221.566681 866.116028,220.583511 865.040955,221.245667
	C863.671814,222.088898 863.986389,223.781677 864.139954,225.325928
	C864.705750,231.013016 865.561401,236.718246 862.403442,242.096588
	C861.745728,243.216690 861.344177,245.374176 860.205261,244.859055
	C857.229309,243.513168 853.903015,243.268402 851.180481,242.161240
	C848.556580,241.094193 845.815796,237.517166 845.781372,233.765045
	C845.754883,230.871063 844.699890,228.597931 843.091309,226.473099
	C840.996338,223.705627 840.229858,220.515228 839.951965,217.201126
	C839.652893,213.634842 836.143494,210.504318 838.591553,206.538895
	C839.068298,205.766693 838.734497,204.283463 839.872864,204.065643
	C845.304260,203.026428 844.675110,199.051300 844.202271,194.813049
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M254.608215,53.628601
	C257.189941,50.162430 259.474670,46.902470 262.059692,43.901134
	C266.587128,38.644569 265.852417,32.399261 265.501556,26.297676
	C265.306183,22.900259 262.578979,22.299782 259.642700,22.317236
	C258.240387,22.325573 256.245544,22.702669 256.059265,20.613823
	C255.857422,18.350861 257.990814,18.635921 259.322723,18.560005
	C272.074127,17.833227 280.059906,20.489119 279.320862,35.646385
	C279.064056,40.912800 276.392517,44.527039 273.682281,48.941181
	C267.689178,58.702084 257.428925,63.854069 251.067001,72.944092
	C249.103851,75.749084 244.483734,74.747742 241.444397,77.176369
	C232.263931,84.512177 221.309235,89.041916 211.255112,95.014748
	C201.206177,100.984474 190.171661,105.314880 179.470169,110.144539
	C177.910843,110.848274 176.559387,113.418114 173.990952,111.366310
	C175.912750,106.868813 180.484299,106.102486 184.222717,104.493774
	C195.396027,99.685722 205.107773,92.584610 215.195175,85.977592
	C220.721664,82.357864 226.706696,79.301292 231.338409,74.616806
	C238.632263,67.239815 248.757507,63.070984 254.608215,53.628601
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M790.036072,113.183319
	C787.518311,115.553917 785.093506,116.338921 782.826843,113.740204
	C780.576477,111.160141 781.761414,108.815292 783.970398,106.828323
	C785.571533,105.388130 787.310669,104.093964 788.846130,102.589622
	C792.495300,99.014244 791.921204,94.561684 790.135681,90.687744
	C786.766174,83.377472 782.084778,76.800880 777.460632,70.188072
	C774.679138,66.210419 772.991943,61.496216 770.138611,57.423813
	C768.578979,55.197777 771.181030,52.980171 772.529785,51.409794
	C773.898193,49.816444 774.892700,51.812622 775.807922,52.990578
	C776.768188,54.226471 778.265564,54.491566 779.810791,54.677341
	C785.022156,55.303864 785.367432,56.167500 782.199524,60.621552
	C786.013977,63.439117 790.254456,65.585709 793.968323,68.634392
	C804.935486,77.637131 809.039673,89.503471 809.254333,103.082100
	C809.326721,107.663528 804.749084,110.442192 800.107239,110.334534
	C796.816833,110.258217 793.335266,111.094467 790.036072,113.183319
z"
        ></path>
        <path
          fill="#17191e"
          stroke="#17191e"
          d="
M525.230103,229.053253
	C521.581787,234.385239 523.891235,240.361298 522.386536,245.688995
	C521.806580,247.742447 521.647583,249.911316 521.206665,252.008636
	C520.870178,253.609344 519.744812,254.655106 518.245850,255.091660
	C510.777679,257.266663 506.474823,253.921509 504.368103,246.275711
	C502.916199,241.006424 501.472626,235.684448 496.749725,231.359695
	C490.299438,225.453201 483.890839,218.959229 481.454803,209.914703
	C481.100006,208.597412 480.429291,207.339157 481.879181,206.361511
	C483.592865,205.206055 484.001312,207.091507 485.008087,207.734390
	C488.929199,210.238235 492.180359,213.460190 495.620972,216.539673
	C498.546295,219.157928 502.896973,220.196442 506.638123,221.887192
	C511.247620,223.970367 515.280151,226.811142 518.232117,231.229294
	C519.980652,229.634933 521.256348,228.332001 522.676086,227.211594
	C524.556396,225.727783 525.300842,226.589218 525.230103,229.053253
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M222.639313,50.456367
	C225.831589,49.789391 225.407288,51.300991 224.247009,52.751564
	C219.179749,59.086544 215.771805,65.826942 214.852509,74.253220
	C214.465317,77.802208 212.297104,83.092224 207.250702,84.246574
	C199.936661,85.919632 195.648056,84.020157 192.017639,77.968491
	C186.039215,68.002876 181.152725,57.558617 178.043198,46.304070
	C177.167938,43.136173 179.154083,39.350895 175.943909,36.677052
	C175.820999,36.574657 176.277405,35.306820 176.708557,35.105122
	C177.660690,34.659683 178.385864,35.257694 179.285080,35.871483
	C182.981461,38.394585 185.386215,42.525108 186.707443,45.991661
	C188.652328,51.094486 192.134308,55.027992 194.746292,59.467060
	C197.282059,63.776615 199.857605,68.375748 203.416580,72.114342
	C206.793289,75.661461 208.619888,75.438484 209.998871,70.805099
	C212.340317,62.937927 217.140305,56.710289 222.639313,50.456367
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M325.254822,152.181046
	C323.218292,160.112289 316.775085,163.838303 310.922943,168.908875
	C310.029999,164.936493 316.741669,156.682846 324.256714,151.603729
	C324.752289,151.676682 324.895691,151.820969 325.254822,152.181046
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M851.064087,260.980530
	C849.830872,264.492065 847.198792,265.115692 844.319275,265.220673
	C843.323547,265.256958 841.789734,264.804443 842.174988,263.827545
	C843.306213,260.959442 847.424866,260.902191 848.543701,257.508514
	C848.730774,256.940796 851.114624,258.695343 851.064087,260.980530
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M745.992981,236.100342
	C743.935303,234.029572 744.762634,233.027390 746.950500,232.684311
	C749.572021,232.273193 752.157532,232.466751 755.688416,233.437119
	C752.968933,237.641174 749.364746,236.003433 745.992981,236.100342
z"
        ></path>
        <path
          vector-effect="non-scaling-stroke"
          d="
M789.803833,186.960663
	C791.322205,188.426834 793.024048,189.364624 792.943542,191.684219
	C789.393127,192.799393 787.617249,190.148697 785.509399,188.368713
	C784.961975,187.906403 785.070435,187.155273 785.548706,186.611954
	C786.898804,185.078384 788.194397,186.066757 789.803833,186.960663
z"
        ></path>
        <path
          fill="#17191e"
          opacity="1.000000"
          stroke="#17191e"
          d="
M822.344971,251.915100
	C823.312317,253.908554 824.325623,255.655457 823.641052,258.099426
	C820.422363,256.509705 819.751526,253.345932 817.772583,251.094070
	C819.706482,249.714066 820.694397,251.581207 822.344971,251.915100
z"
        ></path>
      </g>
    </svg>
    <svg
      class="lt-sm:mt-0.3"
      width="107.548"
      height="32.732"
      viewBox="0 0 107.548 32.732"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <g
        id="svgGroup"
        class="draw dark:fill-[#fdfdfd] dark:stroke-[#fdfdfd]"
        fill="#17191e"
        fill-rule="evenodd"
        stroke="#17191e"
        stroke-width="0.4"
        stroke-linecap="round"
        font-size="9pt"
      >
        <path
          vector-effect="non-scaling-stroke"
          d="M 14.073 24.606 A 2.438 2.438 0 0 0 14.756 24.696 Q 15.988 24.696 17.024 24.08 A 6.608 6.608 0 0 0 17.66 23.65 A 7.518 7.518 0 0 0 18.767 22.601 A 174.185 174.185 0 0 1 18.508 23.128 Q 18.676 22.988 18.928 22.974 A 10.81 10.81 0 0 0 19.088 22.964 A 12.741 12.741 0 0 0 19.46 22.932 Q 19.88 22.904 20.118 22.876 Q 20.297 22.855 20.452 22.644 A 1.351 1.351 0 0 0 20.552 22.484 A 48.685 48.685 0 0 1 20.793 22.029 Q 21.521 20.674 22.146 19.729 A 13.592 13.592 0 0 1 22.778 18.844 A 35.485 35.485 0 0 1 22.821 18.79 Q 23.459 17.978 23.981 17.415 A 11.199 11.199 0 0 1 24.444 16.94 Q 25.172 16.24 25.662 15.96 Q 26.016 15.758 26.246 15.702 A 0.674 0.674 0 0 1 26.404 15.68 A 0.452 0.452 0 0 1 26.49 15.688 Q 26.712 15.731 26.712 16.016 Q 26.712 16.128 26.67 16.296 A 0.713 0.713 0 0 1 26.644 16.376 Q 26.585 16.532 26.432 16.772 Q 25.732 17.892 25.424 18.536 Q 25.116 19.18 24.892 19.74 Q 24.821 19.952 24.772 20.146 A 4.148 4.148 0 0 0 24.696 20.51 A 4.767 4.767 0 0 0 24.662 20.767 A 3.858 3.858 0 0 0 24.64 21.168 A 3.151 3.151 0 0 0 24.661 21.541 Q 24.693 21.814 24.777 22.03 A 1.2 1.2 0 0 0 25.242 22.624 A 3.267 3.267 0 0 0 25.32 22.673 Q 25.557 22.818 25.788 22.902 A 1.799 1.799 0 0 0 26.404 23.016 A 2.346 2.346 0 0 0 27.141 22.899 A 2.643 2.643 0 0 0 27.916 22.484 A 5.449 5.449 0 0 0 28.444 22.026 A 6.536 6.536 0 0 0 29.19 21.14 A 13.802 13.802 0 0 0 30.032 19.787 A 7.993 7.993 0 0 0 29.999 20.024 A 5.169 5.169 0 0 0 29.96 20.636 A 4.774 4.774 0 0 0 29.967 20.889 Q 30.013 21.754 30.38 22.33 A 1.246 1.246 0 0 0 30.893 22.78 Q 31.119 22.891 31.412 22.943 A 3.261 3.261 0 0 0 31.976 22.988 Q 32.844 22.988 33.558 22.47 A 4.977 4.977 0 0 0 34.099 22.014 A 2.312 2.312 0 0 0 34.16 22.12 Q 32.956 25.004 32.116 27.412 Q 31.538 29.07 31.358 30.25 A 6.478 6.478 0 0 0 31.276 31.22 A 3.415 3.415 0 0 0 31.276 31.25 Q 31.28 31.72 31.414 32.024 A 0.902 0.902 0 0 0 31.738 32.424 A 1.774 1.774 0 0 0 32.213 32.648 A 2.081 2.081 0 0 0 32.816 32.732 A 2.528 2.528 0 0 0 34.01 32.436 A 3.224 3.224 0 0 0 34.748 31.892 Q 35.616 31.052 36.26 29.708 A 12.459 12.459 0 0 0 36.491 29.196 A 13.828 13.828 0 0 0 37.254 26.796 Q 37.604 25.228 37.604 23.772 L 37.604 23.044 A 2.544 2.544 0 0 0 38.737 22.706 A 3.326 3.326 0 0 0 39.438 22.162 A 7.793 7.793 0 0 0 40.175 21.305 A 9.937 9.937 0 0 0 40.851 20.261 A 4.238 4.238 0 0 0 40.791 20.484 A 2.739 2.739 0 0 0 40.712 21.112 A 2.932 2.932 0 0 0 40.733 21.47 Q 40.793 21.964 41.034 22.246 A 1.976 1.976 0 0 0 41.119 22.34 A 1.616 1.616 0 0 0 41.79 22.764 A 3.789 3.789 0 0 0 42.018 22.83 Q 42.158 22.866 42.283 22.884 A 1.707 1.707 0 0 0 42.532 22.904 Q 42.971 22.904 43.41 22.689 A 2.986 2.986 0 0 0 43.932 22.358 A 6.113 6.113 0 0 0 44.549 21.803 A 7.778 7.778 0 0 0 45.248 20.972 A 18.798 18.798 0 0 0 45.474 20.657 A 16.747 16.747 0 0 0 46.34 19.292 Q 46.06 20.16 46.06 20.916 A 3.634 3.634 0 0 0 46.071 21.205 Q 46.131 21.95 46.508 22.386 A 1.471 1.471 0 0 0 47.037 22.782 A 1.538 1.538 0 0 0 47.656 22.904 A 2.279 2.279 0 0 0 48.272 22.821 A 2.428 2.428 0 0 0 49.098 22.4 A 4.841 4.841 0 0 0 49.7 21.85 A 6.225 6.225 0 0 0 50.302 21.084 Q 50.848 20.272 51.282 19.39 A 29.503 29.503 0 0 0 51.428 19.09 A 6.114 6.114 0 0 0 52.892 22.274 Q 54.292 23.856 56.574 24.668 A 13.419 13.419 0 0 0 58.504 25.194 A 16.136 16.136 0 0 0 61.6 25.48 Q 63.896 25.48 66.15 24.906 A 17.345 17.345 0 0 0 67.381 24.544 A 14.548 14.548 0 0 0 70.196 23.268 Q 71.736 22.344 73.024 21.154 A 12.777 12.777 0 0 0 73.674 20.51 A 10.741 10.741 0 0 0 75.11 18.606 A 6.404 6.404 0 0 0 75.564 17.674 A 4.875 4.875 0 0 0 75.908 15.904 A 3.918 3.918 0 0 0 75.76 14.84 A 4.634 4.634 0 0 0 75.236 13.664 A 4.535 4.535 0 0 0 74.816 13.092 Q 74.464 12.681 73.98 12.291 A 9.416 9.416 0 0 0 73.024 11.62 A 16.174 16.174 0 0 0 72.258 11.168 A 19.748 19.748 0 0 0 70.84 10.458 Q 69.636 9.912 68.46 9.366 Q 67.284 8.82 66.36 8.26 A 7.725 7.725 0 0 1 65.899 7.954 Q 65.546 7.7 65.275 7.437 A 3.583 3.583 0 0 1 64.778 6.846 A 3.303 3.303 0 0 1 64.47 6.268 A 2.361 2.361 0 0 1 64.288 5.376 A 2.771 2.771 0 0 1 64.713 3.918 A 4.134 4.134 0 0 1 65.31 3.164 A 5.995 5.995 0 0 1 66.303 2.354 A 7.085 7.085 0 0 1 67.872 1.596 Q 69.132 1.148 70.21 0.952 Q 71.288 0.756 72.184 0.756 A 9.037 9.037 0 0 1 72.773 0.775 Q 73.316 0.81 73.781 0.913 A 4.428 4.428 0 0 1 74.76 1.246 A 5.615 5.615 0 0 1 74.939 1.337 Q 75.317 1.538 75.615 1.773 A 3.109 3.109 0 0 1 76.258 2.45 A 3.134 3.134 0 0 1 76.537 2.943 A 2.307 2.307 0 0 1 76.748 3.892 Q 76.748 4.592 76.314 5.124 A 1.679 1.679 0 0 1 75.591 5.633 A 2.478 2.478 0 0 1 75.04 5.768 Q 74.807 5.786 74.648 5.844 A 0.684 0.684 0 0 0 74.494 5.922 A 0.913 0.913 0 0 0 74.446 5.957 Q 74.314 6.062 74.312 6.157 A 0.138 0.138 0 0 0 74.312 6.16 Q 74.312 6.356 74.648 6.356 A 1.217 1.217 0 0 0 74.773 6.35 A 0.909 0.909 0 0 0 74.9 6.328 Q 75.213 6.243 75.482 6.139 A 4.338 4.338 0 0 0 75.964 5.922 A 6.457 6.457 0 0 0 76.189 5.797 A 5.544 5.544 0 0 0 76.776 5.404 A 3.452 3.452 0 0 0 77.181 5.009 A 2.335 2.335 0 0 0 77.784 3.444 Q 77.784 2.632 77.28 1.89 A 3.159 3.159 0 0 0 76.618 1.185 A 4.076 4.076 0 0 0 75.824 0.7 Q 75.068 0.308 74.074 0.154 A 12.401 12.401 0 0 0 73.634 0.094 A 13.991 13.991 0 0 0 71.988 0 Q 70.672 0 69.314 0.224 A 17.719 17.719 0 0 0 68.405 0.398 A 14.637 14.637 0 0 0 66.808 0.84 A 9.489 9.489 0 0 0 66.798 0.844 A 8.295 8.295 0 0 0 64.442 2.086 A 7.653 7.653 0 0 0 63.801 2.629 A 6.131 6.131 0 0 0 62.79 3.864 A 4.58 4.58 0 0 0 62.584 4.237 A 3.679 3.679 0 0 0 62.188 5.88 A 3.037 3.037 0 0 0 62.334 6.802 A 3.876 3.876 0 0 0 62.706 7.616 A 3.8 3.8 0 0 0 62.931 7.951 Q 63.443 8.632 64.344 9.24 A 10.216 10.216 0 0 0 65.134 9.723 A 13.395 13.395 0 0 0 66.164 10.234 Q 67.2 10.696 68.278 11.144 A 38.432 38.432 0 0 1 68.81 11.37 A 34.062 34.062 0 0 1 70.322 12.068 A 12.605 12.605 0 0 1 70.443 12.129 Q 70.864 12.342 71.227 12.566 A 7.69 7.69 0 0 1 71.96 13.076 A 5.211 5.211 0 0 1 72.563 13.625 A 3.94 3.94 0 0 1 73.262 14.644 Q 73.668 15.512 73.668 16.464 Q 73.668 18.256 72.31 20.076 A 9.708 9.708 0 0 1 70.768 21.701 A 12.161 12.161 0 0 1 68.628 23.128 A 12.753 12.753 0 0 1 67.652 23.582 A 14.732 14.732 0 0 1 65.282 24.332 Q 63.448 24.752 61.572 24.752 A 15.387 15.387 0 0 1 61.363 24.751 A 13.872 13.872 0 0 1 58.352 24.388 A 10.083 10.083 0 0 1 57.649 24.195 A 8.49 8.49 0 0 1 55.608 23.254 Q 54.404 22.484 53.69 21.294 A 4.832 4.832 0 0 1 53.123 19.854 A 6.399 6.399 0 0 1 52.976 18.452 Q 52.976 17.052 53.368 15.68 Q 53.76 14.308 54.544 13.104 Q 55.3 11.9 56.476 10.976 Q 56.795 10.742 56.872 10.605 A 0.162 0.162 0 0 0 56.896 10.528 A 0.064 0.064 0 0 0 56.868 10.474 Q 56.84 10.453 56.784 10.447 A 0.504 0.504 0 0 0 56.728 10.444 A 0.752 0.752 0 0 0 56.681 10.446 Q 56.626 10.449 56.547 10.46 A 4.285 4.285 0 0 0 56.462 10.472 Q 56.28 10.5 56.196 10.556 A 6.091 6.091 0 0 0 55.375 11.014 A 7.281 7.281 0 0 0 54.25 11.942 Q 53.34 12.852 52.682 13.986 A 12.781 12.781 0 0 0 52.443 14.416 A 11.158 11.158 0 0 0 51.66 16.268 A 7.257 7.257 0 0 0 51.432 17.176 Q 51.345 17.664 51.345 18.111 A 4.382 4.382 0 0 0 51.347 18.272 A 28.738 28.738 0 0 1 51.3 18.374 Q 50.621 19.837 49.924 20.86 Q 49.418 21.603 48.895 21.926 A 1.542 1.542 0 0 1 48.076 22.176 Q 47.513 22.176 47.403 21.541 A 2.033 2.033 0 0 1 47.376 21.196 Q 47.376 20.468 47.614 19.74 A 12.485 12.485 0 0 1 47.675 19.559 A 11.203 11.203 0 0 1 48.16 18.368 A 225.814 225.814 0 0 0 48.19 18.304 Q 48.478 17.703 48.664 17.304 A 40.017 40.017 0 0 1 49.124 16.379 Q 49.348 15.943 49.56 15.563 A 19.02 19.02 0 0 1 50.05 14.728 A 9.502 9.502 0 0 1 50.393 14.214 Q 50.848 13.582 51.296 13.216 L 49.756 13.216 A 1.615 1.615 0 0 0 49.404 13.252 A 1.045 1.045 0 0 0 48.664 13.832 Q 48.381 14.412 48.055 15.071 A 323.236 323.236 0 0 1 47.446 16.296 Q 46.76 17.668 46.004 18.956 Q 45.248 20.244 44.464 21.168 Q 43.512 22.26 42.84 22.26 A 0.778 0.778 0 0 1 42.795 22.259 Q 42.34 22.233 42.248 21.662 A 2.05 2.05 0 0 1 42.224 21.336 Q 42.224 20.944 42.336 20.482 A 3.13 3.13 0 0 1 42.372 20.349 Q 42.454 20.063 42.618 19.673 A 12.986 12.986 0 0 1 42.812 19.236 A 38.89 38.89 0 0 1 42.814 19.231 Q 42.961 18.918 43.161 18.496 A 204.822 204.822 0 0 1 43.302 18.2 Q 43.596 17.584 43.89 16.982 A 216.652 216.652 0 0 1 43.919 16.923 Q 44.194 16.361 44.38 15.988 L 44.576 15.596 Q 44.987 14.753 45.3 14.295 A 3.061 3.061 0 0 1 45.514 14.014 Q 45.892 13.58 46.368 13.216 L 44.632 13.216 A 1.563 1.563 0 0 0 44.459 13.225 Q 43.863 13.292 43.568 13.832 A 19.408 19.408 0 0 0 43.482 13.991 Q 43.331 14.275 43.106 14.714 A 125.97 125.97 0 0 0 43.032 14.858 A 139.185 139.185 0 0 0 42.504 15.904 L 41.972 16.968 Q 41.748 17.416 41.72 17.5 A 18.571 18.571 0 0 1 41.598 17.787 A 20.344 20.344 0 0 1 40.586 19.796 A 10.314 10.314 0 0 1 39.945 20.786 A 7.569 7.569 0 0 1 39.158 21.7 Q 38.441 22.404 37.664 22.404 A 1.736 1.736 0 0 1 37.548 22.4 Q 37.426 21.91 37.314 21.508 A 22.373 22.373 0 0 0 37.184 21.056 A 2.909 2.909 0 0 0 36.924 20.457 A 3.986 3.986 0 0 0 36.568 19.936 Q 37.632 17.556 38.794 15.246 A 116.63 116.63 0 0 1 39.66 13.559 A 96.789 96.789 0 0 1 41.076 10.948 A 73.899 73.899 0 0 1 41.388 10.4 Q 41.851 9.593 42.287 8.884 A 41.702 41.702 0 0 1 43.162 7.518 A 27.553 27.553 0 0 1 43.478 7.056 Q 44.236 5.972 44.772 5.46 Q 44.594 5.478 44.388 5.445 A 2.215 2.215 0 0 1 44.142 5.39 Q 43.792 5.292 43.54 5.292 A 2.452 2.452 0 0 0 43.152 5.322 A 1.751 1.751 0 0 0 42.182 5.796 Q 41.664 6.3 41.188 7.224 Q 40.747 8.059 40.248 9.044 A 172.984 172.984 0 0 0 39.438 10.668 Q 38.472 12.628 37.436 14.826 Q 36.4 17.024 35.392 19.292 A 1.191 1.191 0 0 0 35.206 19.277 Q 34.776 19.277 34.384 19.6 A 1.08 1.08 0 0 0 34.009 20.02 Q 33.91 20.214 33.864 20.467 A 2.669 2.669 0 0 0 33.824 20.944 A 2.195 2.195 0 0 0 33.852 21.295 A 2.312 2.312 0 0 0 33.907 21.542 A 7.942 7.942 0 0 1 33.852 21.602 Q 33.54 21.932 33.217 22.116 A 1.645 1.645 0 0 1 32.396 22.344 A 1.676 1.676 0 0 1 32.374 22.344 Q 32.213 22.342 32.079 22.308 A 0.745 0.745 0 0 1 31.584 21.938 A 1.18 1.18 0 0 1 31.533 21.834 Q 31.415 21.56 31.378 21.13 A 5.031 5.031 0 0 1 31.36 20.692 A 2.947 2.947 0 0 1 31.36 20.649 Q 31.369 20.042 31.626 19.082 Q 31.892 18.088 32.298 16.94 Q 32.704 15.792 33.138 14.728 Q 33.409 14.063 33.642 13.518 A 47.51 47.51 0 0 1 33.908 12.908 L 36.344 12.908 A 0.849 0.849 0 0 0 36.421 12.873 A 0.614 0.614 0 0 0 36.722 12.544 Q 36.82 12.292 36.82 12.18 L 34.244 12.18 L 34.818 11.032 Q 35.196 10.276 35.644 9.464 A 24.028 24.028 0 0 1 35.916 8.984 Q 36.048 8.757 36.171 8.558 A 11.819 11.819 0 0 1 36.456 8.12 Q 35.7 8.12 35.042 8.512 Q 34.384 8.904 33.964 9.576 Q 33.681 10.033 33.463 10.445 A 9.509 9.509 0 0 0 33.166 11.06 A 35.979 35.979 0 0 1 32.989 11.458 Q 32.802 11.872 32.648 12.18 L 31.164 12.18 A 0.402 0.402 0 0 0 30.997 12.217 Q 30.925 12.249 30.856 12.31 A 0.908 0.908 0 0 0 30.744 12.432 Q 30.638 12.568 30.59 12.696 A 0.594 0.594 0 0 0 30.548 12.908 L 32.34 12.908 Q 32.116 13.44 31.724 14.434 A 56.731 56.731 0 0 0 31.428 15.201 A 69.093 69.093 0 0 0 30.926 16.576 A 30.051 30.051 0 0 0 30.731 17.146 A 26.288 26.288 0 0 0 30.509 17.844 A 16.964 16.964 0 0 1 30.317 18.256 A 22.418 22.418 0 0 1 29.904 19.068 Q 29.456 19.908 28.938 20.65 Q 28.42 21.392 27.86 21.868 A 2.823 2.823 0 0 1 27.686 22.005 Q 27.494 22.143 27.306 22.225 A 1.341 1.341 0 0 1 26.768 22.344 A 0.523 0.523 0 0 1 26.565 22.303 A 0.631 0.631 0 0 1 26.404 22.204 A 0.33 0.33 0 0 1 26.331 22.116 Q 26.266 22.004 26.245 21.809 A 1.861 1.861 0 0 1 26.236 21.616 Q 26.236 21.308 26.32 20.944 A 4.902 4.902 0 0 1 26.428 20.486 Q 26.562 20.015 26.81 19.418 A 35.182 35.182 0 0 1 27.056 18.841 A 41.661 41.661 0 0 1 27.664 17.514 Q 28.14 16.52 28.602 15.638 A 95.928 95.928 0 0 1 28.698 15.456 Q 29.096 14.698 29.372 14.21 L 29.68 13.664 A 0.364 0.364 0 0 0 29.635 13.653 Q 29.551 13.636 29.4 13.636 Q 28.868 13.636 27.972 14.056 A 12.231 12.231 0 0 0 27.291 14.403 A 14.925 14.925 0 0 0 26.138 15.106 A 22.032 22.032 0 0 0 26.015 15.19 Q 25.587 15.481 25.216 15.764 A 13.241 13.241 0 0 0 24.528 16.324 Q 23.828 16.912 23.24 17.556 Q 22.652 18.2 22.12 18.844 Q 22.624 17.836 23.268 16.688 Q 23.912 15.54 24.542 14.658 A 12.05 12.05 0 0 1 24.585 14.598 Q 25.185 13.768 25.564 13.552 Q 25.504 13.572 25.4 13.578 A 1.62 1.62 0 0 1 25.312 13.58 Q 25.06 13.58 24.808 13.51 A 2.063 2.063 0 0 0 24.615 13.466 A 1.626 1.626 0 0 0 24.332 13.44 A 1.83 1.83 0 0 0 24.09 13.456 A 1.31 1.31 0 0 0 23.296 13.846 A 2.866 2.866 0 0 0 23.126 14.041 Q 22.788 14.461 22.344 15.26 Q 21.364 17.08 20.44 19.082 A 174.185 174.185 0 0 1 20.32 19.342 A 20.598 20.598 0 0 1 20.076 19.782 A 16.386 16.386 0 0 1 19.789 20.268 A 14.295 14.295 0 0 1 18.676 21.84 A 8.486 8.486 0 0 1 18 22.578 A 6.374 6.374 0 0 1 17.094 23.31 A 3.672 3.672 0 0 1 16.451 23.653 A 2.631 2.631 0 0 1 15.456 23.856 A 1.257 1.257 0 0 1 15.446 23.856 Q 14.921 23.852 14.602 23.408 A 1.15 1.15 0 0 1 14.508 23.252 Q 14.28 22.797 14.28 21.924 Q 14.28 20.44 14.84 18.746 Q 15.4 17.052 16.296 15.498 Q 17.192 13.944 18.144 12.852 Q 18.844 12.068 18.844 11.284 A 1.698 1.698 0 0 0 18.841 11.187 Q 18.823 10.862 18.676 10.654 A 0.536 0.536 0 0 0 18.415 10.451 A 0.635 0.635 0 0 0 18.2 10.416 Q 17.892 10.416 17.444 10.794 Q 17.129 11.06 16.8 11.582 A 7.62 7.62 0 0 0 16.52 12.068 A 16.458 16.458 0 0 1 16.207 12.625 Q 15.655 13.564 14.84 14.7 A 33.116 33.116 0 0 1 14.148 15.63 A 38.621 38.621 0 0 1 12.432 17.696 Q 11.088 19.208 9.604 20.496 A 19.167 19.167 0 0 1 8.308 21.529 A 15.019 15.019 0 0 1 6.65 22.582 A 8.675 8.675 0 0 1 6.478 22.673 Q 5.103 23.38 3.864 23.38 A 3.042 3.042 0 0 1 3.392 23.345 A 2.134 2.134 0 0 1 2.128 22.694 A 2.048 2.048 0 0 1 1.758 22.134 Q 1.612 21.813 1.544 21.408 A 4.652 4.652 0 0 1 1.484 20.636 Q 1.484 19.376 1.974 17.906 A 19.171 19.171 0 0 1 2.202 17.262 A 21.67 21.67 0 0 1 3.234 14.938 Q 4.004 13.44 4.858 12.082 Q 5.712 10.724 6.44 9.688 Q 7.924 10.108 9.422 10.304 A 22.076 22.076 0 0 0 9.516 10.316 A 23.894 23.894 0 0 0 12.516 10.5 A 17.374 17.374 0 0 0 13.048 10.492 Q 13.508 10.477 14.023 10.44 A 32.154 32.154 0 0 0 15.064 10.346 A 19.79 19.79 0 0 0 15.087 10.344 A 21.183 21.183 0 0 0 18.018 9.814 A 14.608 14.608 0 0 0 18.297 9.741 A 13.073 13.073 0 0 0 20.804 8.778 A 7.387 7.387 0 0 0 21.508 8.37 A 5.956 5.956 0 0 0 22.89 7.126 Q 23.688 6.132 23.688 4.732 A 3.08 3.08 0 0 0 23.258 3.111 A 3.428 3.428 0 0 0 22.4 2.17 A 4.089 4.089 0 0 0 21.591 1.686 Q 20.469 1.176 18.844 1.176 Q 16.128 1.176 13.664 2.184 Q 11.2 3.192 9.058 4.858 Q 6.916 6.524 5.124 8.484 A 7.55 7.55 0 0 1 5.01 8.433 Q 4.7 8.292 4.364 8.107 A 12.947 12.947 0 0 1 3.724 7.728 A 5.822 5.822 0 0 1 3.7 7.713 A 5.2 5.2 0 0 1 2.436 6.594 A 2.775 2.775 0 0 1 2.255 6.344 A 2.126 2.126 0 0 1 1.904 5.18 Q 1.904 5.007 1.948 4.816 A 2.319 2.319 0 0 1 2.044 4.508 A 1.391 1.391 0 0 0 2.058 4.48 Q 2.156 4.272 2.156 4.088 A 0.663 0.663 0 0 0 2.154 4.038 Q 2.135 3.78 1.904 3.78 Q 1.624 3.78 1.386 4.214 Q 1.148 4.648 1.148 5.18 A 3.663 3.663 0 0 0 1.178 5.652 A 2.824 2.824 0 0 0 1.652 6.916 Q 2.156 7.644 2.968 8.162 Q 3.78 8.68 4.648 9.1 Q 3.92 9.912 3.29 10.822 Q 2.66 11.732 2.156 12.656 A 21.153 21.153 0 0 0 1.486 13.957 A 17.309 17.309 0 0 0 0.546 16.394 Q 0 18.228 0 19.824 A 8.29 8.29 0 0 0 0.024 20.46 Q 0.076 21.135 0.242 21.701 A 4.023 4.023 0 0 0 0.91 23.044 A 2.911 2.911 0 0 0 2.58 24.099 A 4.597 4.597 0 0 0 3.668 24.22 Q 5.068 24.22 6.496 23.52 A 14.124 14.124 0 0 0 7.029 23.245 A 15.69 15.69 0 0 0 9.268 21.756 A 28.3 28.3 0 0 0 9.601 21.489 A 25.537 25.537 0 0 0 11.732 19.544 A 55.21 55.21 0 0 0 12.237 19.02 Q 12.641 18.594 12.99 18.207 A 28.955 28.955 0 0 0 13.608 17.5 A 3.286 3.286 0 0 0 13.321 17.955 Q 13.052 18.464 12.838 19.208 Q 12.516 20.328 12.516 21.476 A 5.757 5.757 0 0 0 12.587 22.397 A 4.372 4.372 0 0 0 13.02 23.73 A 1.679 1.679 0 0 0 14.073 24.606 Z M 81.368 12.18 L 83.944 12.18 Q 83.944 12.292 83.846 12.544 A 0.614 0.614 0 0 1 83.545 12.873 A 0.849 0.849 0 0 1 83.468 12.908 L 81.032 12.908 A 47.51 47.51 0 0 0 80.766 13.518 Q 80.533 14.063 80.262 14.728 Q 79.828 15.792 79.422 16.94 Q 79.016 18.088 78.75 19.082 Q 78.493 20.042 78.484 20.649 A 2.947 2.947 0 0 0 78.484 20.692 A 5.031 5.031 0 0 0 78.502 21.13 Q 78.539 21.56 78.657 21.834 A 1.18 1.18 0 0 0 78.708 21.938 A 0.745 0.745 0 0 0 79.203 22.308 Q 79.337 22.342 79.498 22.344 A 1.676 1.676 0 0 0 79.52 22.344 A 1.645 1.645 0 0 0 80.341 22.116 Q 80.664 21.932 80.976 21.602 A 7.942 7.942 0 0 0 81.653 20.773 Q 81.989 20.304 82.306 19.74 A 22.639 22.639 0 0 0 83.397 17.535 A 20.921 20.921 0 0 0 83.412 17.5 Q 83.481 17.363 83.661 16.964 A 80.805 80.805 0 0 0 83.748 16.772 Q 84 16.212 84.322 15.54 Q 84.599 14.963 84.824 14.509 A 54.284 54.284 0 0 1 84.896 14.364 A 3.535 3.535 0 0 1 85.095 14 Q 85.205 13.826 85.323 13.696 A 1.395 1.395 0 0 1 85.582 13.468 A 1.689 1.689 0 0 1 85.881 13.307 Q 86.105 13.216 86.324 13.216 L 88.06 13.216 A 5.174 5.174 0 0 1 87.899 13.348 Q 87.754 13.463 87.57 13.594 A 1.594 1.594 0 0 0 87.321 13.818 Q 87.166 13.988 87.024 14.224 A 33.236 33.236 0 0 0 86.156 15.796 A 27.446 27.446 0 0 0 85.708 16.702 Q 85.148 17.892 84.504 19.236 A 8.39 8.39 0 0 0 84.267 19.778 Q 84.135 20.113 84.056 20.412 A 5.074 5.074 0 0 0 83.971 20.791 Q 83.916 21.091 83.916 21.336 A 2.05 2.05 0 0 0 83.94 21.662 Q 84.032 22.233 84.487 22.259 A 0.778 0.778 0 0 0 84.532 22.26 Q 85.204 22.26 86.156 21.168 Q 86.94 20.244 87.738 18.97 Q 88.536 17.696 89.278 16.338 Q 90.02 14.98 90.58 13.832 A 1.045 1.045 0 0 1 91.32 13.252 A 1.615 1.615 0 0 1 91.672 13.216 L 93.212 13.216 Q 92.4 13.776 91.966 14.672 A 19.481 19.481 0 0 0 91.641 15.381 Q 91.491 15.726 91.331 16.123 A 43.401 43.401 0 0 0 91 16.968 Q 90.412 18.508 89.88 20.16 A 81.168 81.168 0 0 1 88.863 23.115 A 89.394 89.394 0 0 1 88.704 23.548 Q 90.076 23.072 91 22.316 A 6.793 6.793 0 0 0 92.073 21.201 A 8.609 8.609 0 0 0 92.638 20.37 A 19.53 19.53 0 0 0 93.265 19.235 Q 93.569 18.643 93.876 17.963 A 34.944 34.944 0 0 0 94 17.682 A 30.909 30.909 0 0 1 94.08 17.416 A 35.606 35.606 0 0 1 94.659 15.586 A 44.954 44.954 0 0 1 95.214 14.07 Q 95.9 12.292 96.726 10.57 Q 97.552 8.848 98.364 7.476 A 7.364 7.364 0 0 1 98.861 6.734 Q 99.286 6.179 99.75 5.838 Q 100.454 5.32 100.994 5.293 A 1.179 1.179 0 0 1 101.052 5.292 A 1.006 1.006 0 0 1 101.386 5.345 A 0.851 0.851 0 0 1 101.766 5.614 A 1.017 1.017 0 0 1 101.941 5.936 Q 102.032 6.203 102.032 6.58 A 3.212 3.212 0 0 1 102.01 6.94 Q 101.974 7.259 101.878 7.644 Q 101.752 8.149 101.485 8.766 A 11.564 11.564 0 0 1 101.36 9.044 A 36.328 36.328 0 0 1 99.376 12.832 A 40.578 40.578 0 0 1 99.022 13.412 A 19.12 19.12 0 0 1 96.404 16.715 A 22.173 22.173 0 0 1 95.592 17.5 A 10.834 10.834 0 0 0 95.12 18.848 A 12.255 12.255 0 0 0 95.032 19.18 A 10.288 10.288 0 0 0 94.914 19.707 Q 94.815 20.215 94.808 20.584 A 2.917 2.917 0 0 0 94.808 20.636 Q 94.808 22.372 95.984 22.372 A 1.533 1.533 0 0 0 96.651 22.205 Q 97.154 21.962 97.709 21.368 A 7.443 7.443 0 0 0 97.972 21.07 Q 99.064 19.768 100.044 17.5 A 10.566 10.566 0 0 1 101.262 15.442 A 8.632 8.632 0 0 1 102.406 14.189 A 7.338 7.338 0 0 1 103.166 13.594 A 4.48 4.48 0 0 1 104.071 13.112 A 3.338 3.338 0 0 1 105.28 12.88 A 1.897 1.897 0 0 1 106.122 13.081 A 2.36 2.36 0 0 1 106.316 13.188 A 1.001 1.001 0 0 1 106.77 13.818 Q 106.82 14.013 106.82 14.252 A 2.185 2.185 0 0 1 106.718 14.891 Q 106.587 15.32 106.288 15.792 A 5.187 5.187 0 0 1 105.572 16.677 A 7.117 7.117 0 0 1 104.776 17.36 A 4.28 4.28 0 0 1 104.374 17.62 Q 104.162 17.741 103.913 17.857 A 8.02 8.02 0 0 1 103.712 17.948 Q 103.068 18.228 102.424 18.41 Q 101.784 18.591 101.365 18.592 A 1.942 1.942 0 0 1 101.36 18.592 A 3.516 3.516 0 0 0 101.265 18.849 Q 101.221 18.985 101.178 19.145 A 8.664 8.664 0 0 0 101.094 19.488 Q 100.968 20.048 100.968 20.636 A 3.015 3.015 0 0 0 101.057 21.379 A 2.557 2.557 0 0 0 101.248 21.896 A 0.959 0.959 0 0 0 101.943 22.423 A 1.631 1.631 0 0 0 102.284 22.456 Q 103.208 22.456 104.006 21.924 A 5.998 5.998 0 0 0 105.309 20.736 A 6.827 6.827 0 0 0 105.434 20.58 A 11.869 11.869 0 0 0 106.338 19.242 A 10.626 10.626 0 0 0 106.512 18.928 A 27.618 27.618 0 0 0 106.815 18.345 Q 106.934 18.109 107.033 17.897 A 12.611 12.611 0 0 0 107.212 17.5 A 0.658 0.658 0 0 1 107.334 17.51 Q 107.536 17.548 107.547 17.73 A 0.353 0.353 0 0 1 107.548 17.752 Q 107.184 18.536 106.722 19.46 Q 106.26 20.384 105.63 21.182 Q 105 21.98 104.118 22.498 Q 103.236 23.016 102.06 23.016 Q 101.024 23.016 100.198 22.344 Q 99.41 21.703 99.374 20.424 A 4.401 4.401 0 0 1 99.372 20.3 A 5.774 5.774 0 0 1 99.394 19.824 A 12.029 12.029 0 0 1 98.546 21.14 A 5.633 5.633 0 0 1 97.506 22.22 A 5.144 5.144 0 0 1 97.16 22.47 Q 96.376 22.988 95.396 22.988 A 2.687 2.687 0 0 1 94.809 22.928 Q 94.435 22.844 94.163 22.644 A 1.485 1.485 0 0 1 93.87 22.358 Q 93.38 21.728 93.38 20.86 A 6.955 6.955 0 0 1 93.493 19.634 A 79.099 79.099 0 0 1 93.44 19.738 A 62.594 62.594 0 0 1 93.296 20.02 Q 92.792 21 92.176 21.742 A 6.806 6.806 0 0 1 91.286 22.626 A 8.556 8.556 0 0 1 90.636 23.114 Q 89.712 23.744 88.256 24.332 A 38.446 38.446 0 0 1 87.345 25.875 A 46.102 46.102 0 0 1 86.73 26.838 Q 85.876 28.14 84.798 29.274 Q 83.72 30.408 82.418 31.122 A 5.849 5.849 0 0 1 79.646 31.835 A 6.834 6.834 0 0 1 79.548 31.836 A 5.84 5.84 0 0 1 78.834 31.796 Q 78.066 31.701 77.624 31.383 A 1.504 1.504 0 0 1 77.476 31.262 A 2.015 2.015 0 0 1 77.055 30.72 A 1.74 1.74 0 0 1 76.86 29.904 A 3.215 3.215 0 0 1 77.454 28.051 A 4.261 4.261 0 0 1 77.742 27.678 A 6.548 6.548 0 0 1 79.832 26.079 A 7.484 7.484 0 0 1 79.912 26.04 A 14.865 14.865 0 0 1 81.678 25.364 A 19.341 19.341 0 0 1 83.23 24.948 A 58.199 58.199 0 0 0 85.936 24.271 A 52.438 52.438 0 0 0 86.8 24.024 A 12.835 12.835 0 0 0 87.368 22.909 A 16.724 16.724 0 0 0 87.78 21.91 A 50.426 50.426 0 0 0 88.5 19.87 A 45.692 45.692 0 0 0 88.592 19.586 A 267.97 267.97 0 0 0 88.765 19.044 Q 88.977 18.379 89.131 17.882 A 87.924 87.924 0 0 0 89.18 17.724 A 38.831 38.831 0 0 1 88.902 18.223 Q 88.65 18.671 88.326 19.222 Q 87.808 20.104 87.164 20.944 Q 86.52 21.784 85.778 22.344 A 2.936 2.936 0 0 1 85.091 22.737 A 2.337 2.337 0 0 1 84.224 22.904 A 1.707 1.707 0 0 1 83.975 22.884 Q 83.85 22.866 83.71 22.83 A 3.789 3.789 0 0 1 83.482 22.764 A 1.616 1.616 0 0 1 82.811 22.34 A 1.976 1.976 0 0 1 82.726 22.246 Q 82.485 21.964 82.425 21.47 A 2.932 2.932 0 0 1 82.404 21.112 A 2.804 2.804 0 0 1 82.496 20.421 A 4.114 4.114 0 0 1 82.559 20.204 A 13.933 13.933 0 0 1 81.97 21.126 A 6.052 6.052 0 0 1 81.26 21.978 A 4.977 4.977 0 0 1 80.682 22.47 Q 79.968 22.988 79.1 22.988 A 3.261 3.261 0 0 1 78.536 22.943 Q 78.243 22.891 78.017 22.78 A 1.246 1.246 0 0 1 77.504 22.33 Q 77.137 21.754 77.091 20.889 A 4.774 4.774 0 0 1 77.084 20.636 Q 77.084 19.88 77.364 18.802 Q 77.644 17.724 78.05 16.576 A 69.093 69.093 0 0 1 78.552 15.201 A 56.731 56.731 0 0 1 78.848 14.434 Q 79.24 13.44 79.464 12.908 L 77.672 12.908 A 0.594 0.594 0 0 1 77.714 12.696 Q 77.762 12.568 77.868 12.432 A 0.908 0.908 0 0 1 77.98 12.31 Q 78.049 12.249 78.121 12.217 A 0.402 0.402 0 0 1 78.288 12.18 L 79.772 12.18 Q 79.926 11.872 80.113 11.458 A 35.979 35.979 0 0 0 80.29 11.06 A 9.509 9.509 0 0 1 80.587 10.445 Q 80.805 10.033 81.088 9.576 Q 81.508 8.904 82.166 8.512 Q 82.824 8.12 83.58 8.12 A 11.819 11.819 0 0 0 83.295 8.558 Q 83.172 8.757 83.04 8.984 A 24.028 24.028 0 0 0 82.768 9.464 Q 82.32 10.276 81.942 11.032 L 81.368 12.18 Z M 12.264 9.828 Q 13.384 9.828 14.756 9.702 Q 16.128 9.576 17.486 9.24 A 10.936 10.936 0 0 0 19.554 8.509 A 9.934 9.934 0 0 0 19.992 8.288 A 5.785 5.785 0 0 0 21.238 7.4 A 5.046 5.046 0 0 0 21.84 6.72 A 3.566 3.566 0 0 0 22.485 5.135 A 4.758 4.758 0 0 0 22.54 4.396 Q 22.54 3.229 21.624 2.59 A 2.702 2.702 0 0 0 21.518 2.52 A 3.97 3.97 0 0 0 20.299 2.022 Q 19.792 1.903 19.204 1.881 A 7.289 7.289 0 0 0 18.928 1.876 A 11.514 11.514 0 0 0 15.853 2.275 A 10.129 10.129 0 0 0 14.182 2.898 Q 12.04 3.92 10.262 5.572 Q 8.484 7.224 6.888 9.128 Q 8.12 9.492 9.422 9.66 A 20.06 20.06 0 0 0 10.962 9.796 A 25.485 25.485 0 0 0 12.264 9.828 Z M 95.816 16.604 A 17.918 17.918 0 0 0 97.054 15.183 A 22.046 22.046 0 0 0 97.776 14.21 Q 98.728 12.852 99.554 11.382 A 31.768 31.768 0 0 0 100.399 9.777 A 24.798 24.798 0 0 0 100.94 8.596 A 4.847 4.847 0 0 0 101.176 7.979 A 5.772 5.772 0 0 0 101.262 7.672 Q 101.388 7.168 101.388 6.832 A 1.177 1.177 0 0 0 101.381 6.701 Q 101.352 6.44 101.192 6.44 Q 101.088 6.44 100.887 6.621 A 2.274 2.274 0 0 0 100.856 6.65 A 2.346 2.346 0 0 0 100.719 6.791 Q 100.53 7.002 100.268 7.364 A 8.833 8.833 0 0 0 99.891 7.905 Q 99.705 8.191 99.509 8.532 A 20.923 20.923 0 0 0 99.106 9.268 A 63.314 63.314 0 0 0 98.233 11.003 A 74.491 74.491 0 0 0 97.832 11.844 Q 97.188 13.216 96.656 14.49 Q 96.151 15.701 95.847 16.519 A 27.387 27.387 0 0 0 95.816 16.604 Z M 78.876 31.276 A 3.389 3.389 0 0 0 79.989 31.08 A 4.691 4.691 0 0 0 80.78 30.716 A 9.992 9.992 0 0 0 82.16 29.759 A 11.835 11.835 0 0 0 82.684 29.302 A 23.061 23.061 0 0 0 84.134 27.841 A 20.726 20.726 0 0 0 84.378 27.566 Q 84.968 26.891 85.385 26.339 A 13.191 13.191 0 0 0 85.624 26.012 A 3.489 3.489 0 0 0 85.733 25.849 Q 85.78 25.775 85.83 25.69 A 7.268 7.268 0 0 0 85.932 25.508 A 16.954 16.954 0 0 1 86.184 25.062 A 15.219 15.219 0 0 1 86.268 24.92 Q 84.896 25.284 83.258 25.718 Q 81.793 26.106 80.675 26.573 A 13.646 13.646 0 0 0 80.416 26.684 A 5.455 5.455 0 0 0 79.183 27.388 A 4.528 4.528 0 0 0 78.302 28.28 A 5.499 5.499 0 0 0 77.913 28.875 Q 77.74 29.184 77.646 29.47 A 2.101 2.101 0 0 0 77.532 30.128 A 1.29 1.29 0 0 0 77.589 30.521 A 1.058 1.058 0 0 0 77.854 30.954 A 0.97 0.97 0 0 0 78.208 31.174 Q 78.362 31.231 78.554 31.256 A 2.489 2.489 0 0 0 78.876 31.276 Z M 33.236 31.976 Q 33.516 31.976 33.908 31.654 A 3.79 3.79 0 0 0 34.317 31.261 A 5.157 5.157 0 0 0 34.664 30.828 Q 35.364 29.904 35.896 28.56 Q 36.428 27.216 36.736 25.76 Q 37.018 24.425 37.018 23.279 A 9.106 9.106 0 0 0 37.016 23.072 A 3.496 3.496 0 0 1 36.463 23.03 A 2.771 2.771 0 0 1 36.05 22.932 Q 35.616 22.792 35.364 22.596 Q 34.636 24.472 34.006 26.306 A 47.194 47.194 0 0 0 33.575 27.62 Q 33.372 28.273 33.214 28.86 A 25.257 25.257 0 0 0 33.04 29.54 A 19.44 19.44 0 0 0 32.964 29.919 Q 32.928 30.107 32.901 30.273 A 9.991 9.991 0 0 0 32.872 30.464 Q 32.816 30.856 32.816 31.136 Q 32.816 31.976 33.236 31.976 Z M 101.556 18.088 Q 101.948 18.088 102.872 17.794 Q 103.796 17.5 104.552 16.856 A 5.18 5.18 0 0 0 105.298 16.047 A 4.358 4.358 0 0 0 105.672 15.442 A 4.988 4.988 0 0 0 105.878 14.987 Q 106.064 14.507 106.064 14.14 Q 106.064 13.541 105.64 13.524 A 0.626 0.626 0 0 0 105.616 13.524 Q 105.347 13.524 104.917 13.811 A 4.404 4.404 0 0 0 104.692 13.972 A 4.802 4.802 0 0 0 104.318 14.292 Q 103.957 14.632 103.514 15.15 A 19.389 19.389 0 0 0 103.236 15.484 Q 102.704 16.156 102.228 16.94 Q 101.752 17.724 101.556 18.088 Z M 36.792 22.512 L 36.932 22.512 Q 36.904 21.952 36.708 21.406 Q 36.576 21.038 36.418 20.79 A 1.599 1.599 0 0 0 36.26 20.58 L 35.672 22.008 A 0.814 0.814 0 0 0 36.109 22.399 Q 36.262 22.463 36.459 22.49 A 2.393 2.393 0 0 0 36.792 22.512 Z"
        >
        </path>
      </g>
    </svg>
  </div>
</Link>

<style>
  .link {
    /* opacity: 1; */
    -webkit-user-select: none;
    user-select: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 350px 0;
    }
    20% {
      stroke-dasharray: 0 350px;
    }
    80% {
      stroke-dasharray: 0 350px;
    }
    to {
      stroke-dasharray: 350px 0;
    }
  }

  .draw {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 10s ease forwards infinite;
  }

  @media (prefers-reduced-motion), print {
    .draw {
      stroke-dasharray: unset !important;
      animation: none !important;
    }
  }
</style>
