---
// import {Picture} from 'astro:assets';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
import {SiteTitle, SiteDescription} from '~/config';
// import img from '~/assets/undraw_dog_c7i6.svg';
---

<MarkdownLayout
  title={SiteTitle}
  description={SiteDescription}
  hide={['title', 'comments']}
  currentNav="Home"
>
  <div class="flex flex-col items-center gap-4 xl:flex-row">
    <!--<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />-->
    <div>
      <h1>Hello,I`am Lanqiu👋</h1>
      <p>
        中年油腻程序员，懒，不喜欢写代码。
      </p>
      <h3>关注方向/Focus:</h3>
      <p>
        AI / Web3 / Crypto
      </p>
      <h3>社交媒体/Social:</h3>
      <ul>
        <li><a href="https://twitter.com/jran41134074">Twitter</a></li>
        <li><a href="https://github.com/torans">GitHub</a></li>
        <li><a href="https://www.youtube.com/channel/UCKxOhnKRgxHQ9zWzn6wBejA">YouTube</a></li>
        <li><a href="https://www.tiktok.com/@lanqiu_tech">TikTok</a></li>
        <li><a href="#">Wechat:lanqiu_tech</a></li>
      </ul>
    </div>
  </div>
</MarkdownLayout>
